<a href="https://colab.research.google.com/github/jacksonsin/Practical-Statistics-for-Data-Scientists/blob/main/Basic_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Arithmetic with Python Functions**

In [1]:
def say_hello(name="User"):
  print(f"Hello {name}")

In [2]:
say_hello("John")

Hello John

In [3]:
say_hello()

Hello User

Print() will not return any result, you will not be able to assign the result to any variable

In [4]:
def add_func(num1,num2):
  print(num1+num2)

In [5]:
result = add_func(1,2)
result

3

Return() allows you to assign the result to any variable

In [6]:
def add_func(num1,num2):
  return(num1+num2)

In [7]:
result = add_func(1,2)
result

3

Print and Return result

In [8]:
def add_func(num1,num2):
  print(num1+num2)
  return(num1+num2)

In [9]:
result = add_func(1,2)

3

**Logic with Python Functions**

In [10]:
def even_check(number):
  return number % 2 == 0

In [11]:
even_check(40)

True

In [12]:
even_check(41)

False

In [13]:
def check_even_list(num_list):
  for num in num_list:
    if num % 2 == 0:
      return True
    else:
      pass

In [14]:
check_even_list([1,3,5])

In [15]:
check_even_list([2,4,6])

True

In [16]:
check_even_list([1,1,2])

True

In [17]:
check_even_list([2,1,1])

True

Return all the even numbers in the list

In [18]:
def check_even_list(num_list):
  # return all the even numbers in the list
  # placeholder variable
  even_numbers = []

  for num in num_list:
    if num % 2 == 0:
      even_numbers.append(num)
    else:
      pass
  return even_numbers

In [19]:
check_even_list([1,1,2])

[2]

**Tuples with Python Functions**

Example 1: Stock Prices

In [20]:
stock_prices = [('APPL',169),('GOOG',2848),('MSFT',319)]

In [21]:
for ticker,price in stock_prices:
  print(ticker)

APPL
GOOG
MSFT

In [22]:
for ticker,price in stock_prices:
  print(price)

169
2848
319

In [23]:
for ticker,price in stock_prices:
  print(round(price+(1.37*price),2))

400.53
6749.76
756.03

Example 2: Best Employee

In [24]:
working_hours = [('Abby',100),('Billy',400),('Cassie',800)]

In [25]:
def employee_check(working_hours):
  current_max = 0
  employee_of_the_month = ''

  for employee, hours in working_hours:
    if hours > current_max:
      current_max = hours
      employee_of_the_month = employee
    else:
      pass 

  return (employee_of_the_month,current_max)

In [26]:
employee_check(working_hours)

('Cassie', 800)

In [27]:
name, hours = employee_check(working_hours)

In [28]:
print(f'The employee of the month goes to {name}, she has clocked {hours} hours on this month')

The employee of the month goes to Cassie, she has clocked 800 hours on this month

**Interactions between Python Functions**

Example: Shuffle list

In [29]:
my_list = [1,2,3,4,5,6]

In [30]:
from random import shuffle

In [31]:
def shuffle_list(example):
  shuffle(example)
  return example

In [32]:
result = shuffle_list(my_list)
result

[3, 1, 6, 4, 5, 2]

Example: Player guess

In [33]:
def guess_player():
  guess = ''
  # elements in the list must be strings
  while guess not in ['1','2','3']:
    # input always return as string
    guess = input("Pick a number between 1,2,3")
  return int(guess)

In [34]:
guess_player()

Pick a number between 1,2,31

1

In [35]:
def check_guess(my_list,guess):
  if my_list[guess] == 'O':
    print("correct")
  else:
    print("Wrong guess")
    print(my_list)

In [36]:
# Initial List
my_list = ['','O','']
# Shuffle List
mixed_list = shuffle_list(my_list)
# User 
guess = guess_player()
# Check Guess
check_guess(mixed_list,guess)

Pick a number between 1,2,31
Wrong guess
['O', '', '']

In [37]:
def myfunc(x):
    out = []
    for i in range(len(x)):
        if i%2==0:
            out.append(x[i].lower())
        else:
            out.append(x[i].upper())
    return ''.join(out)

In [38]:
myfunc('Tomorrow')

'tOmOrRoW'

In [39]:
def myfunc(a,b,c,d=0):
  # pass arguments as tuple
  return sum((a,b,c,d))*0.05

In [40]:
# insert 3 arugments will not throw in an error since d is assigned as 0 by default
myfunc(40,60,80)

9.0

In [41]:
# overwrite the value of d argument
myfunc(40,60,80,10)

9.5

In [42]:
# *args will take in all parameters as a tuple
def myfunc(*args):
  print(f"This is a tuple of {args}")
  return sum(args) * 0.05

In [43]:
myfunc(40,60,80,10)

This is a tuple of (40, 60, 80, 10)

9.5

In [44]:
def myfunc(*args):
  for num in args:
    print(num)

In [45]:
myfunc(40,60,80,10)

40
60
80
10

In [46]:
def myfunc(**kwargs):
  print(kwargs)
  if 'B16172' in kwargs:
    print(f"This B.1.617.2 mutation is a {kwargs['B16172']} variant")
  elif 'B11529' in kwargs:
    print(f"This B.1.1.529 mutation is an {kwargs['B11529']} variant")
  else:
    print(f'It is an unknown mutation')

In [47]:
# pass in the dictionary
myfunc(B16172='Delta',B11529='Omicron')

{'B16172': 'Delta', 'B11529': 'Omicron'}
This B.1.617.2 mutation is a Delta variant

In [48]:
# Test case 1: Assign B16172 to unknown
myfunc(B11529='Unknown')

{'B11529': 'Unknown'}
This B.1.1.529 mutation is an Unknown variant

In [49]:
# Test case 2: Assign an unknown mutation
myfunc(B99999='Unknown')

{'B99999': 'Unknown'}
It is an unknown mutation

Complex example

In [50]:
total_cases = 0
input = 0

In [51]:
def myfunc(cases=total_cases, *args, **kwargs):
  print("There are",args[0],'/',cases,"positive cases of", kwargs['B2'])

In [52]:
def cases(*args):
  return sum(args)

In [53]:
input += cases(total_cases,10)
myfunc(input,10,20,30,B1='Variant A',B2='Variant B',B3='Unknown')
input += cases(total_cases,20)
myfunc(input,10,20,30,B1='Variant A',B2='Variant B',B3='Unknown')
input += cases(total_cases,30)
myfunc(input,10,20,30,B1='Variant A',B2='Variant B',B3='Unknown')
input += cases(total_cases,40)
myfunc(input,10,20,30,B1='Variant A',B2='Variant B',B3='Unknown')

There are 10 / 10 positive cases of Variant B
There are 10 / 30 positive cases of Variant B
There are 10 / 60 positive cases of Variant B
There are 10 / 100 positive cases of Variant B