<a href="https://colab.research.google.com/github/jacksonsin/data_science_with_python/blob/main/Convert_Class_Object_into_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import library
import pandas as pd

In [2]:
# Create class object
class Person:
    def __new__(cls, name, age):
        print(f"Create a new {cls.__name__} object...")
        return object.__new__(cls) # return an object which was manually created
    def __init__(self, name, age): # invoke __init__() manually
        print(f'Initializing the person object...')
        self.name = name
        self.age = age

In [3]:
# instantiate
person = Person("John",25)

Create a new Person object...
Initializing the person object...

In [4]:
df = pd.DataFrame.from_dict(person.__dict__, orient='index').T
df

   name age
0  John  25