<a href="https://colab.research.google.com/github/jacksonsin/data_science_in_python/blob/main/Lambda%2C_map_and_filter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Capitalize first and last letter of the word

In [1]:
def capitalize(word):
  first_letter = word[0]
  in_between = word[1:-1]
  last_letter  = word[-1]
  return first_letter.upper() + in_between + last_letter.upper()

In [2]:
capitalize("diaster")

'DiasteR'

Capitalize first half of the word

In [3]:
def capitalize_first_half(word):
  # len(word)/2 will return a float, so express int() to convert float to integer
  first_half = word[:int(len(word)/2)]
  second_half = word[int(len(word)/2):]
  return first_half.upper() + second_half

In [4]:
capitalize_first_half("robert")

'ROBert'

Reverse print out

In [5]:
def reversed_order(word):
  wordlist = word.split()
  reversed = wordlist[::-1]
  return ' '.join(reversed)

In [6]:
reversed_order("We must find them")

'them find must We'

In [7]:
def has_33(nums):
  # range(0,4)
  for i in range(0,len(nums)-1):
    #if [1,x,x,4,x] is equal to [3,3]
    if nums[i:i+2] == [3,3]:
      return True
  return False

In [8]:
has_33([1,2,3,4,5])

False

In [9]:
has_33([3,2,3,3,5])

True

Map function

In [10]:
def check_even(num):
  return num%2==0

In [11]:
mynums = [1,2,3,4,5,6,7]

In [12]:
list(map(check_even,mynums))

[False, True, False, True, False, True, False]

Filter list

In [13]:
list(filter(check_even,mynums))

[2, 4, 6]

In [14]:
def square(num):
  return num**2

In [15]:
square(2)

4

In [16]:
square = lambda num: num**2

In [17]:
square(2)

4

In [18]:
list(map(lambda num: num**2, mynums))

[1, 4, 9, 16, 25, 36, 49]

In [19]:
list(filter(lambda num: num%2==0, mynums))

[2, 4, 6]

In [20]:
names = ['Andy','Eve','Sally']

More advanced examples

In [21]:
list(map(lambda x:x[0],names))

['A', 'E', 'S']

In [22]:
list(map(lambda x:x[::-1],names))

['ydnA', 'evE', 'yllaS']

Variable list of keyword arguments

In [23]:
(lambda *args : sum(args))(2,2)

4

Using lambda inside reduce

In [24]:
from functools import reduce
list1 = [1,2,3]
sum = reduce((lambda x,y: x+y), list1)
print(sum)

6

lambda on dataframe

In [25]:
import pandas as pd
df = pd.DataFrame([[1,2,3],[4,5,6]],columns = ['First','Second','Third'])
df['Forth']= df.apply(lambda row: row['First']*row['Second']* row['Third'], axis=1)
df

   First  Second  Third  Forth
0      1       2      3      6
1      4       5      6    120

When used with df.appplymap() it applies the lambda function to every element of the dataframe.

In [26]:
df = df.applymap(lambda x: x*x)
df

   First  Second  Third  Forth
0      1       4      9     36
1     16      25     36  14400