# Creating, Reading and Writing

### Creating DataFrame

In [1]:
import pandas as pd

In [2]:
pd.DataFrame({'Apples':[30],'Bananas':[21]})

   Apples  Bananas
0      30       21

In [3]:
pd.DataFrame({'Apples':[35,41], 'Bananas':[21,34]}, index=['2017 Sales','2018 Sales'])

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [4]:
pd.DataFrame({'Yes':[50,21],'No':[131,2]})

   Yes   No
0   50  131
1   21    2

In [5]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

### Creating Series

In [6]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
a = pd.Series([30,5,40],index=['2015 Sales','2016 Sales','2017 Sales'], name='Product A')

# Reading data files

### Load csv file from local desktop

In [8]:
import os
path = os.getcwd()
file = "winemag-data-130k-v2.csv"
wine_reviews = pd.read_csv(path+"\\"+file, index_col=0)

In [9]:
wine_reviews.shape

(65499, 13)

In [10]:
wine_reviews.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

### Load xls file from local desktop

In [11]:
'''
pd.read_excel("../input/publicassistance/xls_files_all/WICAgencies2014ytd.xls", sheetname='Pregnant Women Participating')
'''

'\npd.read_excel("../input/publicassistance/xls_files_all/WICAgencies2014ytd.xls", sheetname=\'Pregnant Women Participating\')\n'

### Load file from SQL

In [12]:
'''
import sqlite3
conn = sqlite3.connect("../input/pitchfork-data/database.sqlite")
pd.read_sql_query("SELECT * FROM artists", conn)
'''

'\nimport sqlite3\nconn = sqlite3.connect("../input/pitchfork-data/database.sqlite")\npd.read_sql_query("SELECT * FROM artists", conn)\n'

# Indexing, Selecting & Assigning

In [13]:
import os
path = os.getcwd()
file = "winemag-data-130k-v2.csv"
reviews = pd.read_csv(path+"\\"+file, index_col=0)
pd.set_option('max_rows', 5)
reviews

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65497,US,This wine wears its 15.8% alcohol better than ...,Block 24,90,31.0,California,Napa Valley,Napa,NaN,NaN,Hendry 2004 Block 24 Primitivo (Napa Valley),Primitivo,Hendry
65498,Spain,"A unique take on Manzanilla Sherry, which is o...",Manzanilla,90,10.0,Andalucia,Jerez,NaN,Michael Schachner,@wineschach,Bodegas Dios Baco S.L. NV Manzanilla Sherry (J...,Sherry,Bodegas Dios Baco S.L.

In [14]:
reviews.country

0           Italy
1        Portugal
           ...
65497          US
65498       Spain
Name: country, Length: 65499, dtype: object

In [15]:
reviews["country"]

0           Italy
1        Portugal
           ...
65497          US
65498       Spain
Name: country, Length: 65499, dtype: object

In [16]:
reviews["country"][0]

'Italy'

### Indexing in pandas

In [17]:
# To retrieve row
reviews.iloc[0]

country                                                    Italy
description    Aromas include tropical fruit, broom, brimston...
                                     ...
variety                                              White Blend
winery                                                   Nicosia
Name: 0, Length: 13, dtype: object

In [18]:
# To retrieve column
reviews.iloc[:, 0]

0           Italy
1        Portugal
           ...
65497          US
65498       Spain
Name: country, Length: 65499, dtype: object

In [19]:
# To retrieve first 3 rows of country column
reviews.iloc[:3, 0]

0       Italy
1    Portugal
2          US
Name: country, dtype: object

In [20]:
# To retrieve first 3 rows of country column
reviews.iloc[[0, 1, 2], 0]

0       Italy
1    Portugal
2          US
Name: country, dtype: object

In [21]:
# To retrieve second and third rows of country column
reviews.iloc[1:3, 0]

1    Portugal
2          US
Name: country, dtype: object

In [22]:
# To retrieve the last 5 rows of the dataset 
reviews.iloc[-5:]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
65494,France,Made from young vines from the Vaulorent porti...,Fourchaume Premier Cru,90,45.0,Burgundy,Chablis,NaN,Roger Voss,@vossroger,William Fèvre 2005 Fourchaume Premier Cru (Ch...,Chardonnay,William Fèvre
65495,Australia,"This is a big, fat, almost sweet-tasting Caber...",NaN,90,22.0,South Australia,McLaren Vale,NaN,Joe Czerwinski,@JoeCz,Tapestry 2005 Cabernet Sauvignon (McLaren Vale),Cabernet Sauvignon,Tapestry
65496,US,"Much improved over the unripe 2005, Fritz's 20...",Estate,90,20.0,California,Dry Creek Valley,Sonoma,NaN,NaN,Fritz 2006 Estate Sauvignon Blanc (Dry Creek V...,Sauvignon Blanc,Fritz
65497,US,This wine wears its 15.8% alcohol better than ...,Block 24,90,31.0,California,Napa Valley,Napa,NaN,NaN,Hendry 2004 Block 24 Primitivo (Napa Valley),Primitivo,Hendry
65498,Spain,"A unique take on Manzanilla Sherry, which is o...",Manzanilla,90,10.0,Andalucia,Jerez,NaN,Michael Schachner,@wineschach,Bodegas Dios Baco S.L. NV Manzanilla Sherry (J...,Sherry,Bodegas Dios Baco S.L.