<a href="https://colab.research.google.com/github/jacksonsin/Practical-Statistics-for-Data-Scientists/blob/main/Python_Refresher.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Print Statement

In [1]:
y = []
for x in range(0,10,2):
  y.append(x)
print(f'All elements in {y} are even')
print("All elements in {} are even".format(y))

All elements in [0, 2, 4, 6, 8] are even
All elements in [0, 2, 4, 6, 8] are even

In [2]:
person={"name":"Jane","age":23}
print("My name is {} and I am {} years old".format(person['name'],person['age']))
print(f"My name is {person['name']} and I am {person['age']} years old")

My name is Jane and I am 23 years old
My name is Jane and I am 23 years old

In [3]:
print(f"4 x 11 is equal to {4*11}")

4 x 11 is equal to 44

In [4]:
for x in range(1,11):
  print(f"The value is {x}")

The value is 1
The value is 2
The value is 3
The value is 4
The value is 5
The value is 6
The value is 7
The value is 8
The value is 9
The value is 10

In [5]:
for x in range(1,11):
  print(f"The value is {x:02}")

The value is 01
The value is 02
The value is 03
The value is 04
The value is 05
The value is 06
The value is 07
The value is 08
The value is 09
The value is 10

In [6]:
import math
print(f"Pi is equal to {math.pi:.4f}")

Pi is equal to 3.1416

In [7]:
from datetime import datetime
birthdate = datetime(1988,1,1)
print(f'Your birthday is {birthdate:%d/%m/%Y}')
print(f'Your birthday is {birthdate:%d-%b-%Y}')
print(f'Your birthday is {birthdate:%d %B %Y}')

Your birthday is 01/01/1988
Your birthday is 01-Jan-1988
Your birthday is 01 January 1988