<a href="https://colab.research.google.com/github/jacksonsin/Practical-Statistics-for-Data-Scientists/blob/main/Useful_Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Iterate through dictionary

Return key and value

In [1]:
for key, value in {"A":1,"B":2}.items():
  print(key,value)

A 1
B 2

Iterate through dictionary

Conver into dataframe

In [2]:
import pandas as pd
df = []
mydict = {"A":1,"B":2}
for key, value in mydict.items(): 
    col1 = key
    col2 = value
    df.append([col1, col2])
df = pd.DataFrame(df, columns=["Key","Value"])
print(df)

  Key  Value
0   A      1
1   B      2

Iterate through enumerate

Return index and value

In [3]:
for index,value in enumerate ({"A":1,"B":2}):
  print(index,value)

0 A
1 B

Iterate through enumerate

Return index and tuple

In [4]:
for index,value in enumerate ({"A":1,"B":2}.items()):
  print(index,value)

0 ('A', 1)
1 ('B', 2)

Iterate through zip

In [5]:
keys = ['A','B','C']
values = [1,2,3]

In [6]:
for item in zip(keys,values):
  print(item)

('A', 1)
('B', 2)
('C', 3)

Iterate through zip uneven lengths

In [7]:
keys = ['A','B','C','D']
values = [1,2,3]

In [8]:
for item in zip(keys,values):
  print(item)

('A', 1)
('B', 2)
('C', 3)

Unpacking zip values

In [9]:
for key,value in zip(keys,values):
  print(value)

1
2
3

List of zip

In [10]:
list(zip(keys,values))

[('A', 1), ('B', 2), ('C', 3)]

Check something in the list

In [11]:
"x" in ["A","B",'C']

False

In [12]:
"C" in ["A","B",'C']

True

In [13]:
"C" in keys

True

Check something in the dictionary

In [14]:
# Check for a key
"A" in {"A":1,"B":2}

True

In [15]:
#Check for a key
d = {"A":1,"B":2}
"A" in d

True

In [16]:
#Check for a key
d = {"A":1,"B":2}
"A" in d.keys()

True

In [17]:
#Check for a value
d = {"A":1,"B":2}
1 in d.values()

True