<a href="https://colab.research.google.com/github/jacksonsin/data_science_in_python/blob/main/Wrangling_JSON_in_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import library
import pandas as pd

In [2]:
# Sample JSON Object
json_obj = {"InsuranceCompanies": {
 "Top Insurance Companies": [
  {
   "No": "1",
   "Name": "Berkshire Hathaway",
   "Market Capitalization": "$308 B"
  }
   ],
   "source": "investopedia.com",
   "Time": "Feb 2019"
 }
}

In [3]:
# Convert json object to pandas dataframe
df = pd.DataFrame.from_dict(json_obj)
df

                                                        InsuranceCompanies
Time                                                              Feb 2019
Top Insurance Companies  [{'No': '1', 'Name': 'Berkshire Hathaway', 'Ma...
source                                                    investopedia.com

In [4]:
# Tranpose the dataframe
df_tranposed = df.T # or df.transpose()
df_tranposed

,Time,Top Insurance Companies,source
InsuranceCompanies,Feb 2019,"[{'No': '1', 'Name': 'Berkshire Hathaway', 'Ma...",investopedia.com

In [5]:
# Check index
df_tranposed.index

Index(['InsuranceCompanies'], dtype='object')

In [6]:
# Check info
df_tranposed.info() # df_tranposed.dtypes

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, InsuranceCompanies to InsuranceCompanies
Data columns (total 3 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Time                     1 non-null      object
 1   Top Insurance Companies  1 non-null      object
 2   source                   1 non-null      object
dtypes: object(3)
memory usage: 140.0+ bytes

In [7]:
# Check Shapes
df_tranposed.shape

(1, 3)

In [8]:
# Convert date time
df_tranposed['Time'] = pd.to_datetime(df_tranposed['Time'])

In [9]:
# Check if Time is in Datetime type
df_tranposed.info() # df_tranposed.dtypes

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, InsuranceCompanies to InsuranceCompanies
Data columns (total 3 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Time                     1 non-null      datetime64[ns]
 1   Top Insurance Companies  1 non-null      object
 2   source                   1 non-null      object
dtypes: datetime64[ns](1), object(2)
memory usage: 140.0+ bytes

In [10]:
# Check the json format to parse
df_tranposed['Top Insurance Companies'][0]

[{'Market Capitalization': '$308 B', 'Name': 'Berkshire Hathaway', 'No': '1'}]

In [11]:
# Parse the value from the key 'Market Capitalization'
df_tranposed['Top Insurance Companies'][0][0]['Market Capitalization']

'$308 B'

In [12]:
# Parse the value from the key 'Name'
df_tranposed['Top Insurance Companies'][0][0]['Name']

'Berkshire Hathaway'

In [13]:
# Parse the value from the key 'No'
df_tranposed['Top Insurance Companies'][0][0]['No']

'1'

In [14]:
# Create a sample output of the dataframe
pd.DataFrame({
              'Market Capitalization' : ["0"],
              'Name' : ["1"],
              'No' : ["2"]
              })

  Market Capitalization Name No
0                     0    1  2

In [15]:
pd.DataFrame({
              'Market Capitalization' : [df_tranposed['Top Insurance Companies'][0][0]['Market Capitalization']],
              'Name' : [df_tranposed['Top Insurance Companies'][0][0]['Name']],
              'No' : [df_tranposed['Top Insurance Companies'][0][0]['No']]
              })

  Market Capitalization                Name No
0                $308 B  Berkshire Hathaway  1

In [16]:
new_df = pd.DataFrame({
              'Market Capitalization' : [df_tranposed['Top Insurance Companies'][0][0]['Market Capitalization']],
              'Name' : [df_tranposed['Top Insurance Companies'][0][0]['Name']],
              'No' : [df_tranposed['Top Insurance Companies'][0][0]['No']]
              })
new_df

  Market Capitalization                Name No
0                $308 B  Berkshire Hathaway  1

In [17]:
# Reset index on the tranposed table before joining
df_tranposed = df_tranposed.reset_index()
df_tranposed

,index,Time,Top Insurance Companies,source
0,InsuranceCompanies,2019-02-01,"[{'No': '1', 'Name': 'Berkshire Hathaway', 'Ma...",investopedia.com

In [18]:
# Join tables
df_joined = df_tranposed.join(new_df)
df_joined

,index,Time,Top Insurance Companies,source,Market Capitalization,Name,No
0,InsuranceCompanies,2019-02-01,"[{'No': '1', 'Name': 'Berkshire Hathaway', 'Ma...",investopedia.com,$308 B,Berkshire Hathaway,1

In [19]:
# Drop columns
df_dropped = df_joined.drop(['index', 'Top Insurance Companies','source'], axis=1)
df_dropped

        Time Market Capitalization                Name No
0 2019-02-01                $308 B  Berkshire Hathaway  1

In [20]:
# Rearrange the columns
df_reindex = df_dropped.reindex(columns=['Time', 'No','Name','Market Capitalization'])
df_reindex

        Time No                Name Market Capitalization
0 2019-02-01  1  Berkshire Hathaway                $308 B

In [21]:
# Index Time
df_newindex = df_reindex.set_index('Time')
df_newindex

           No                Name Market Capitalization
Time
2019-02-01  1  Berkshire Hathaway                $308 B

In [22]:
# Extract information by index, it will return as Series object so we need to convert into dataframe and tranpose the result
df_newindex.loc['2019-02-01'].to_frame().T

           No                Name Market Capitalization
2019-02-01  1  Berkshire Hathaway                $308 B

In [23]:
# Extract information by string search in column
df_newindex[df_newindex['Name'].str.contains("Berkshire")]

           No                Name Market Capitalization
Time
2019-02-01  1  Berkshire Hathaway                $308 B